@keyframes pulsation {
    from {
        box-shadow: 0 0 0 0 #000;
    }
    to {
        box-shadow: 0 0 0 0.6em #00000001;
    }
}

@keyframes appear {
    from {
        color: #0000;
        height: 0vmin;
    } 35%{
        color: #0000;
        height: 30vmin;
    } to {
        color: #000;
        height: 49vmin;
    }
}

@media screen and (orientation: portrait), (max-width: 750px){

}

@media screen and (orientation: landscape) and (min-width: 751px){
    
}