.bouton {
    --height: 10vmin;
    --width: 10vmin;
    height: var(--height);
    width: var(--width);
    box-shadow: 0 0 0 1vmin black;
    border-radius: 50%;
    background: #fff4;
    position: absolute;
    transition: 1s;
    transition-property: all;
    -webkit-tap-highlight-color: transparent; 
}

.bouton>.horiz {
    --height: 10%;
    --width: 70%;
    --border-width: 0px;
    height: var(--height);
    width: var(--width);
}

.bouton>.verti {
    --height: 70%;
    --width: 10%;
    --border-width: 0px;
    height: var(--height);
    width: var(--width);
}

.bouton:hover {
    cursor: pointer;
}

.bouton>div{
    border-radius: 100000px;
    background: black;
    position: absolute;
}

.grow-button{
    animation: g-b linear 1s forwards;
}
.grow-button-r{
    animation: g-b-r linear 1s forwards;
}


@media screen and (orientation: portrait), (max-width: 750px){
    .bouton{
        right: calc(40% / 3);
    }

    @keyframes g-b {
        from{
            transform: rotate(0deg);
        }
        to {
            transform: rotate(405deg);
        }
    }
    @keyframes g-b-r {
        from{
            transform: rotate(405deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
}

@media screen and (orientation: landscape) and (min-width: 751px){
    .bouton{
        bottom: calc((100% - 15vh - var(--height)) / 3 + 10%);
    }

    @keyframes g-b {
        from{
            transform: rotate(0deg);
        }
        to {
            transform: rotate(405deg);
        }
    }
    @keyframes g-b-r {
        from{
            transform: rotate(405deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
}