*{
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*::selection{
    background: #000a;
    color: #ff5454;
}

*:visited{
    background: #000a;
}

body{
    background: #cadbad;
}